.cards {
  max-width: 60em;
  margin: 0 auto;
}
.cards__title {
  font-size: 80px;
  font-weight: 300;
  margin: 5% 0;
}
.cards__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: auto;
}
.cards__content-item {
  width: 225px;
  height: 225px;
  margin: 1% 0;
}
.cards__content-item:nth-child(2n-1) {
  background-color: #000000;
}
.cards__content-item:nth-child(2n) {
  background-color: #878787;
}
.cards__content-item:nth-child(n+5):nth-child(odd) {
  background-color: #878787;
}
.cards__content-item:nth-child(n+5):nth-child(even) {
  background-color: #000000;
}
